<h1>{{title}}</h1>
<p>Enter your desired information</p>

<form action="/mint_tokens" width="100%">
  <span style="width: 25%;">Address: </span>
  <input style="width: 70%;" type="text" name="address"><br />

  <span style="width: 25%;">Token ID: </span>
  <input style="width: 70%;" type="text" name="tokenId"><br />

  <input type="hidden" name="contractAddress" value="0xD3025C46379bcedBF1d0E0648022899973Ad20c5">

  <input type="submit" value="Submit">
</form>